strict_env

# TODO: only needed when Go is not installed via system
PATH_add /usr/local/go/bin

# For the goose CLI tools.
export GOOSE_DRIVER=sqlite3
export GOOSE_DBSTRING="$(expand_path data/db.sqlite)"
export GOOSE_MIGRATION_DIR="$(expand_path internal/pkg/db/migrations/)"

export LOG_PRETTY=true
export LOG_LEVEL=DEBUg

export JOBS_AUTO_CLEANUP_PERIOD=1m

export SESSION_IDLE_TIMEOUT=30m
export SESSION_ABS_TIMEOUT=24h
export SESSION_COOKIE_NAME=sid
export SESSION_COOKIE_PATH=/
