package tmpl

import "fmt"

templ title(statusCode int, errMsg string) {
	{ fmt.Sprint(statusCode) } { errMsg }
}

templ ErrorPage(d PageData, requestId string, statusCode int, errMsg string) {
	@PageTemplate(d, "Error") {
		<h1>
			@title(statusCode, errMsg)
		</h1>
		<div>
			There was an error: @title(statusCode,errMsg).
			if requestId != "" {
				Request ID: { requestId }
			}
		</div>
	}
}
