package tmpl

import "goweb/internal/pkg/oapi"

templ LoginPage(p PageContext, message string, loginData oapi.Login) {
	@PageTemplate(p, "Login") {
		<div>
			{ message }
			<form action={ S(p.L.PostSessionsLogin()) } method="POST">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required value={ loginData.Email }/>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required value={ loginData.Password }/>
				<button type="submit">Login</button>
			</form>
		</div>
	}
}
