package tmpl

templ LogoutPage(d PageData) {
	@PageTemplate(d, "Logout") {
		<div>
			<form action={ d.L.PostSessionsLogout() } method="POST">
				<button type="submit">Logout</button>
			</form>
		</div>
	}
}
