package tmpl

import (
	"context"

	"goweb/internal/pkg/db"
	"goweb/internal/pkg/oapi"
	"goweb/internal/pkg/session"
)

type PageData struct {
	User *db.User
	L    oapi.Links
}

func GetPageData(ctx context.Context) PageData {
	return PageData{
		User: session.GetUser(ctx),
		L:    *oapi.MustGetLinks(ctx),
	}
}

templ PageTemplate(d PageData, title string) {
	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8"/>
			<title>{ title }</title>
		</head>
		<body>
			<nav>
				<h1>Navigation</h1>
				<ul>
					<li><a href={ S(d.L.Get()) }>Main page</a></li>
					@userInfo(d)
				</ul>
			</nav>
			<main>
				{ children... }
			</main>
		</body>
	</html>
}

templ userInfo(d PageData) {
	if d.User != nil {
		<li>Logged in as: { d.User.Email }</li>
		<li><a href={ S(d.L.GetSessionsLogout()) }>logout</a></li>
	} else {
		<li><a href={ S(d.L.GetSessionsLogin()) }>login</a></li>
	}
}
